<h1>予定編集</h1>
<% if flash[:notice_edit] %>
  <p class= "notice"><%= flash[:notice_edit] %></p>
<% end %>
<%= form_with model: @schedule do |f| %>
  <table>
    <tr>
      <th><%= f.label :title, "タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :startday, "開始日" %></th>
      <td><%= f.date_field :startday, min: Time.zone.now  %></td>
    </tr>
    <tr>
      <th><%= f.label :endday, "終了日" %></th>
      <td><%= f.date_field :endday, min: Time.zone.now %></td>
    </tr>
    <tr>
      <th><%= f.label :allday, "終日" %></th>
      <td><%= f.check_box :allday %></td>
    </tr>
    <tr>
      <th><%= f.label :memo, "スケジュールメモ" %></th>
      <td><%= f.text_field :memo %></td>
    </tr>
  </table>
  
  　<div>
　  <ul>
　    <li>「タイトル」「開始日」「終了日」は必ず入力してください。</li>
　    <li>「タイトル」は２０文字以内で入力してください。</li>
　    <li>「終了日」は「開始日」以降の日付を入力してください。</li>
　    <li>「スケジュールメモ」は５００文字以内で入力してください。</li>
　  </ul>
　</div>

  <div>
    <ul>
      <li><%= f.submit "編集を完了する" %></li>
      <li><%= link_to "予定一覧に戻る", :schedules %></li>
    </ul>
  </div>
<% end %>
