<h1>予定詳細</h1>

<table>
    <tr>
      <th>タイトル</th>
      <td><%= @schedule.title %></td>
    </tr>  
      <th>開始日</th>
      <td><%= @schedule.startday.to_s(:date_jp) %></td>
    <tr>
      <th>終了日</th>
      <td><%= @schedule.endday.to_s(:date_jp) %></td>
    </tr>
    <tr>
      <th>終日</th>
      <td>
          <%= if @schedule.allday == true
                @schedule.allday = "○"
              else @schedule.allday = ""
              end
          %>
      </td>
    </tr>
    <tr>
      <th>スケジュールメモ</th>
      <td><%= @schedule.memo %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= link_to "予定一覧に戻る", :schedules %></li>
      <li><%= link_to "予定を編集する", :edit_schedule %></li>
    </ul>
  </div>
